aside.admonition {
  width: 95%;
  margin: 1.5625em auto;
  padding: 0 0.6rem 0.8rem !important;
  overflow: hidden;
  page-break-inside: avoid;
  border-left: 0.2rem solid #007bff;
  border-radius: 0.1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05), 0 0 0.05rem rgba(0, 0, 0, 0.1);
}

aside.admonition > p.admonition-title {
  position: relative;
  margin: 0 -0.6rem !important;
  /* Changed the final from 2rem, without icon */
  padding: 0.4rem 0.6rem 0.4rem 1rem;
  font-weight: 700;
  background-color: #e7f2fa;
}

aside.admonition.attention {
  border-left-color: #fd7e14;
}
aside.admonition.attention > header {
  background-color: #ffedcc;
}
aside.admonition.caution {
  border-left-color: #fd7e14;
}
aside.admonition.caution > header {
  background-color: #ffedcc;
}
aside.admonition.warning {
  border-left-color: #dc3545;
}
aside.admonition.warning > header {
  background-color: #fdf3f2;
}
aside.admonition.danger {
  border-left-color: #dc3545;
}
aside.admonition.danger > header {
  background-color: #fdf3f2;
}
aside.admonition.error {
  border-left-color: #dc3545;
}
aside.admonition.error > header {
  background-color: #fdf3f2;
}
aside.admonition.hint {
  border-left-color: #ffc107;
}
aside.admonition.hint > header {
  background-color: #fff6dd;
}
aside.admonition.important {
  border-left-color: #007bff;
}
aside.admonition.important > header {
  background-color: #e7f2fa;
}
aside.admonition.note {
  border-left-color: #007bff;
}
aside.admonition.note > header {
  background-color: #e7f2fa;
}
aside.admonition.tip {
  border-left-color: #ffc107;
}
aside.admonition.tip > header {
  background-color: #fff6dd;
}

aside.admonition > p {
  padding: 0 1.4rem;
}

abbr {
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  cursor: help;
}

a {
  color: #0071bc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-size: 95%;
  font-family: monospace;
  color: #e83e8c;
  word-wrap: break-word;
}

pre {
  width: calc(100% - 20px - 3em);
  padding: 10px;
  background-color: #fafafa;
  color: #222;
  line-height: 1.2em;
  border: 1px solid #c9c9c9;
  margin: 1.5em 0;
  box-shadow: 1px 1px 1px #d8d8d8;
}
pre > code {
  font-size: 87.5%;
  font-family: monospace;
  color: #222;
}

hr {
  width: 80%;
  margin: 20px auto;
}

blockquote {
  color: rgb(90, 90, 90);
  padding: 0.1rem 1rem;
  border-left: 0.2rem solid #aaa;
}

figure {
  text-align: center;
}

figure > figcaption {
  color: rgb(90, 90, 90);
  font-size: 90%;
}

figure > figcaption .caption-number {
  font-weight: 700;
  padding-right: 5px;
}

.math .MathJax {
  outline: none;
}
div.math.numbered {
  width: calc(100% - 50px);
  margin: 0 auto;
}
div.math.numbered:before {
  content: '(' attr(number) ')';
  float: right;
}
