name: CI

on:
  push:
    branches: [main, ci-*]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
          submodules: recursive
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: npm install
      - run: npm run lint:format
      - run: npm run lint
      - run: npm run lint:circular
  test:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['18', '20', '22.4.x', '24']
    name: Testing on node ${{ matrix.node }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
          submodules: recursive
      - uses: ./.github/actions/install
        with:
          node: ${{ matrix.node }}
      - run: npm run test
  # This is just an additional check to make sure the build passes with our docs
  # Ideally we'd use `--strict` but this will be too brittle (e.g. if labels etc change).    
  docs:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    name: Running test docs build
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
          submodules: recursive
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install docs dependencies
        run: |
          npm install
          pip install -r docs/requirements.txt
      - name: Build docs
        run: |
          cd docs
          myst build --html --execute
      