name: Deploy Docs
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed
concurrency: ${{ github.workflow }}
permissions:
  contents: write
  pull-requests: write
jobs:
  release-docs:
    name: Release Documentation
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
          submodules: recursive
      - uses: ./.github/actions/install
      - name: Install docs requirements
        run: python -m pip install -r docs/requirements.txt
        shell: bash
      - name: Install imagemagick, inkscape, and webp
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y inkscape imagemagick webp
      - name: Install Curvenote
        run: npm install -g curvenote
      - name: Deploy the main documentation
        run: curvenote deploy -y --ci --execute
        shell: bash
        working-directory: docs
        env:
          CURVENOTE_TOKEN: ${{ secrets.CURVENOTE_TOKEN }}
      - name: Deploy the transforms docs
        run: curvenote deploy -y --ci --execute
        shell: bash
        working-directory: packages/myst-transforms/docs
        env:
          CURVENOTE_TOKEN: ${{ secrets.CURVENOTE_TOKEN }}
      - name: Deploy the jtex docs
        run: curvenote deploy -y --ci --execute
        shell: bash
        working-directory: packages/jtex/docs
        env:
          CURVENOTE_TOKEN: ${{ secrets.CURVENOTE_TOKEN }}
      - name: Deploy the myst-spec docs
        run: curvenote deploy -y --ci --execute
        shell: bash
        working-directory: packages/myst-spec/docs
        env:
          CURVENOTE_TOKEN: ${{ secrets.CURVENOTE_TOKEN }}
